/*margin*/
.mgauto{margin-left:auto;margin-right: auto}
.mgt-5{margin-top:5px}
.mgt-10{margin-top:10px}
.mgt-15{margin-top:15px}
.mgt-20{margin-top:20px}
.mgt-25{margin-top:25px}
.mgt-30{margin-top:30px}
.mgt-35{margin-top:35px}
.mgt-40{margin-top:40px}
.mgt-45{margin-top:45px}
.mgt-50{margin-top:50px}
.mgt-55{margin-top:55px}
.mgt-60{margin-top:60px}
.mgb-5{margin-bottom:5px}
.mgb-10{margin-bottom:10px}
.mgb-15{margin-bottom:15px}
.mgb-20{margin-bottom:20px}
.mgb-25{margin-bottom:25px}
.mgb-30{margin-bottom:30px}
.mgb-35{margin-bottom:35px}
.mgb-40{margin-bottom:40px}
.mgb-45{margin-bottom:45px}
.mgb-50{margin-bottom:50px}
.mgb-55{margin-bottom:55px}
.mgb-60{margin-bottom:60px}
.mgl-5{margin-left:5px}
.mgl-10{margin-left:10px}
.mgl-15{margin-left:15px}
.mgl-20{margin-left:20px}
.mgl-25{margin-left:25px}
.mgl-30{margin-left:30px}
.mgl-35{margin-left:35px}
.mgl-40{margin-left:40px}
.mgl-45{margin-left:45px}
.mgl-50{margin-left:50px}
.mgl-55{margin-left:55px}
.mgl-60{margin-left:60px}
.mgr-5{margin-right:5px}
.mgr-10{margin-right:10px}
.mgr-15{margin-right:15px}
.mgr-20{margin-right:20px}
.mgr-25{margin-right:25px}
.mgr-30{margin-right:30px}
.mgr-35{margin-right:35px}
.mgr-40{margin-right:40px}
.mgr-45{margin-right:45px}
.mgr-50{margin-right:50px}
.mgr-55{margin-right:55px}
.mgr-60{margin-right:60px}
.pdt-5{padding-top:5px}
.pdt-10{padding-top:10px}
.pdt-15{padding-top:15px}
.pdt-20{padding-top:20px}
.pdt-25{padding-top:25px}
.pdt-30{padding-top:30px}
.pdt-35{padding-top:35px}
.pdt-40{padding-top:40px}
.pdt-45{padding-top:45px}
.pdt-50{padding-top:50px}
.pdb-5{padding-bottom:5px}
.pdb-10{padding-bottom:10px}
.pdb-15{padding-bottom:15px}
.pdb-20{padding-bottom:20px}
.pdb-25{padding-bottom:25px}
.pdb-30{padding-bottom:30px}
.pdl-5{padding-left:5px}
.pdl-10{padding-left:10px}
.pdl-15{padding-left:15px}
.pdl-20{padding-left:20px}
.pdl-25{padding-left:25px}
.pdl-30{padding-left:30px}
.pdr-5{padding-right:5px}
.pdr-10{padding-right:10px}
.pdr-15{padding-right:15px}
.pdr-20{padding-right:20px}
.pdr-25{padding-right:25px}
.pdr-30{padding-right:30px}
.bdc{border:1px solid #ccc}
.bdd{border:1px solid #ddd}
.bde{border:1px solid #eee}
.blc{border-left:1px solid #ccc}
.brc{border-right:1px solid #ccc}
.btc{border-top:1px solid #ccc}
.bbc{border-bottom:1px solid #ccc}
.bld{border-left:1px solid #ddd}
.brd{border-right:1px solid #ddd}
.btd{border-top:1px solid #ddd}
.bbd{border-bottom:1px solid #ddd}
.ble{border-left:1px solid #eee}
.bre{border-right:1px solid #eee}
.bte{border-top:1px solid #eee}
.bbe{border-right:1px solid #eee}
.fs-12{font-size:12px}
.fs-14{font-size:14px}
.fs-16{font-size:16px}
.fs-18{font-size:18px}
.fs-20{font-size:20px}
.fs-22{font-size:22px}
.fs-24{font-size:24px}
.fs-28{font-size:28px}
.fs-32{font-size:32px}
.fs-36{font-size:36px}
.fs-42{font-size:42px}
.fs-48{font-size:48px}
.fs-50{font-size:50px}
.fs-64{font-size:64px}
.fs-72{font-size:72px}
.fs-84{font-size:84px}
.fs-96{font-size:96px}

.fs-0{font-size:0;letter-spacing:-5px}
.fstyle-i{font-style:italic}
.fstyle-n{font-style:normal}
.fstyle-o{font-style:oblique}
.fw-300{font-weight:300}
.fw-400{font-weight:400}
.fw-500{font-weight:500}
.fw-600{font-weight:600}
.ve-t{vertical-align:top}
.ve-m{vertical-align:middle}
.ve-b{vertical-align:bottom}
.dp-b{display:block}
.dp-ib{display:inline-block}
.dp-n{display:none}
.dp-t{display:table}
.dp-tc{display:table-cell}
.dp-tr{display:table-row}
.dp-ri{display:run-in}
/*flex布局无视float,clear,和vertical-align*/
.dp-f{display:flex;display: -webkit-flex}
.dp-if{display:inline-flex}
.dp-it{display:inline-table}
.dp-li{display:list-item}
.fl{float:left}
.fr{float:right}
.fn{float:none}
.ps-f{position:fixed}
.ps-a{position:absolute}
.ps-r{position:relative}
.tc{text-align:center}
.tl{text-align:left}
.tr{text-align:right}
.tj{text-align:justify}
.z-hide{display: none;}
.z-show{display: block;}
html {-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

html, body, h1, h2, h3, h4, h5, h6, hr, p, iframe, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td, fieldset { margin: 0; padding: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { display: block; }

li { list-style: none; }

audio, canvas, progress, video { display: inline-block; }

audio:not([controls]) { display: none; height: 0; }

progress { vertical-align: baseline; }

template, [hidden] { display: none; }

a { background-color: transparent; -webkit-text-decoration-skip: objects; }

a:active, a:hover { outline-width: 0; }

abbr[title] { border-bottom: none; text-decoration: underline; text-decoration: underline dotted; }

b, strong { font-weight: inherit; }

b, strong { font-weight: bolder; }

dfn { font-style: italic; }

h1 { font-size: 2em; margin: 0.67em 0; }

mark { background-color: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

img { border-style: none; }

svg:not(:root) { overflow: hidden; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

figure { margin: 1em 40px; }

hr { box-sizing: content-box; height: 0; overflow: visible; }

button, input, select, textarea { font: inherit; margin: 0; }

optgroup { font-weight: bold; }

button, input { overflow: visible; }

button, select { text-transform: none; }

button, html [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0; white-space: normal; }

textarea { overflow: auto; }

[type="checkbox"], [type="radio"] { box-sizing: border-box; padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

[type="search"] { -webkit-appearance: textfield; outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

::-webkit-input-placeholder { color: inherit; opacity: 0.54; }

::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; }

/*# sourceMappingURL=_normalize.css.map */

div,ul,li{margin: 0;padding: 0;}
ol,li{list-style: none;}
.c-909{color: #909090;}
.c-fff{color: #ffffff;}
.c-323{color: #323232;}
.no-bb{border-bottom: none !important;}
/*
 * 对mui的下拉刷新组件重写
 */
.mui-bar~.mui-content .mui-fullscreen {
  top: 44px;
  height: auto;
}

.mui-pull-top-tips {
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -25px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  z-index: 9;
}

.mui-bar~.mui-pull-top-tips {
  top: 24px;
}

.mui-pull-top-wrapper {
  width: 42px;
  height: 42px;
  display: block;
  text-align: center;
  background-color: #efeff4;
  border: 1px solid #ddd;
  border-radius: 25px;
  background-clip: padding-box;
  box-shadow: 0 4px 10px #bbb;
  overflow: hidden;
}

.mui-pull-top-tips.mui-transitioning {
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}

.mui-pull-top-tips .mui-pull-loading {
  /*-webkit-backface-visibility: hidden;
        -webkit-transition-duration: 400ms;
        transition-duration: 400ms;*/
  margin: 0;
}

.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
  margin-top: 7px;
}

.mui-pull-top-wrapper .mui-icon.mui-reverse {
  /*-webkit-transform: rotate(180deg) translateZ(0);*/
}

.mui-pull-bottom-tips {
  text-align: center;
  background-color: #efeff4;
  font-size: 15px;
  line-height: 40px;
  color: #777;
}

.mui-pull-top-canvas {
  overflow: hidden;
  background-color: #fafafa;
  border-radius: 40px;
  box-shadow: 0 4px 10px #bbb;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.mui-pull-top-canvas canvas {
  width: 40px;
}
/*牛之问版块*/
.issue-container{}
.issue-list{padding:.8rem .5rem;border-bottom: 1px solid #d6d7dc;}
.issue-list .issue-name{font-weight: 400;line-height: 1.2;font-size: 16px}
.issue-list .issue-name a{color: #323232;}
.issue-list .user-info{font-size: 12px;color: #909090;margin: .2rem 0;}
.issue-list .user-info .user-name{padding-right: 10px;border-right: 1px solid #909090;margin-right: 10px;}
.issue-list .user-issue{margin: .4rem 0 0;}
.issue-list .user-issue .user-photo{width: 2.5rem;height: 2.5rem;display: inline-block;-webkit-border-radius: 50%;border-radius: 50%;}
.issue-list .user-issue .issue-listen{display: inline-block;background-color: #e64343;width: 8rem;height: 2.5rem;-webkit-border-radius: 1.25rem;border-radius: 1.25rem;position: relative;}
.issue-list .user-issue .issue-listen .icon-listen{width: 1.5rem;height: 1.5rem;display: inline-block;background-image: url(../imgs/icon-listen.png);background-size: contain;background-repeat: no-repeat;position: absolute;top: .5rem;left: .8rem;}
.issue-list .user-issue .issue-listen-person-num{display: inline-block;float: right;line-height: 2.5rem;}
.issue-list .user-issue .listen-times{position: absolute;right: .6rem;color: #fff;font-style: normal;font-size: 14px;line-height: 2.5rem;}
/*大牛榜版块*/
.rank-box{font-size: 0;letter-spacing: -5px;}
.rank-box .rank-list{width: 100%;border-bottom: 1px solid #d6d7dc;display: ;}
.rank-box .rank-div{display: table-cell;letter-spacing: normal;vertical-align: middle;}
.rank-box .rank-num{width: 1rem;text-align: center;background-color: #b1b1b1;color: #fff;vertical-align: middle;}
.rank-box .rank-info{padding: .5rem .5rem 0;}
.rank-box .rank-img{width: 5rem;text-align: center;height: 5rem;text-align: center;}
.rank-box .rank-img .user-photo{display: inline-block;vertical-align: middle;width:4rem;-webkit-border-radius: 50%;border-radius: 50%;}
.rank-box .rank-list:first-child .rank-num{background-color: #eb4848;}
.rank-box .rank-list:nth-child(2) .rank-num{background-color: #faa52c;}
.rank-box .rank-list:nth-child(3) .rank-num{background-color: #f6bf17;}
.rank-box .rank-list:nth-child(-n+3) .rank-info .user-name{color: #eb7575;}
/*我的牛用户中心*/
#user-center .tabs-box{bottom: 2.5rem;}
.user-home{background-image: url(../imgs/user-bg.jpg);background-size: cover;background-repeat: no-repeat;position: fixed;top: 0;width: 100%;z-index:2;height: 250px;padding: 0 .5rem;}
@media only screen and (min-width: 100px) and (max-width: 640px) {
	.user-home .user-img{padding-top: 2rem;}
}
@media only screen and (min-width: 640px){
	.user-home .user-img{padding-top: 1rem;}
}
.user-home .user-img .user-photo{width: 4rem;height: 4rem;-webkit-border-radius: 50%;border-radius: 50%;vertical-align: top;}
.user-home .user-tips{margin-top: .5rem;}
.user-home .user-info{text-align: left;}
.user-detail{margin-top: 200px;position: relative;}
.user-menu .mui-control-item{position: relative;}
.user-menu .mui-control-item.mui-active::after{position: absolute;content:'';bottom: 0;right: 50%;width: 0;height: 0;border-left:.6rem solid transparent;border-right:.6rem solid transparent;border-bottom:.6rem solid #fff;margin-right: -.6rem;}
#user-question .ques-list{border-bottom: 1px solid #D6D7DC;padding: .8rem 0;}
#user-question .ques-list .user-my-photo{width: 2rem;height: 2rem;-webkit-border-radius: 50%;border-radius: 50%;margin-left: .5rem;float: left;}
#user-question .ques-list .ques-info{margin-right: 1rem;}
#user-question .ques-list .ques-name{font-size:16px;line-height: 1.2;font-weight: 400;margin-left: 3rem;}
#user-question .ques-list .ques-info .ques-status{margin-top: .5rem;}
#user-question .ques-list .ques-info .ques-status-dhd{display: inline-block;width: 4.5rem;height: 2rem;background-image: url(../imgs/icon-status-dhd.png);background-size: cover;vertical-align: top;margin-left: 3rem;}
#user-question .ques-list .ques-info .ques-times,#user-question .ques-list .ques-info .ques-listen-nums{font-size: 12px;color: #909090;line-height: 2rem;margin-left: .8rem;}
#user-question .ques-list .anwser-box{width: 7rem;height: 2rem;-webkit-border-radius: 1rem;background-color: #e64343;display: inline-block;margin-left: .5rem;position: relative;}
#user-question .ques-list .anwser-box .icon-listen{width: 1.2rem;height: 1.2rem;display: inline-block;background-image: url(../imgs/icon-listen.png);background-size: contain;background-repeat: no-repeat;position: absolute;top: .4rem;left: .6rem;}
#user-question .ques-list .anwser-box .listen-times{position: absolute;right: .6rem;color: #fff;line-height:2rem;font-style: normal;font-size: 14px}
#user-listen .mui-segmented-control{border:1px solid #E64343}
#user-listen .mui-segmented-control .mui-control-item{line-height: 30px;}
#user-listen .userlisten-tab{width: 100%;background-color: #eee;}
#user-listen .userlisten-tab .mui-control-item{border-color: #e64343;color: #e64343;border-left: 1px solid #E64343;}
#user-listen .userlisten-tab .mui-control-item.mui-active{background-color: #e64343;color: #fff;}
#user-listen .tab-name-box{width: 50%;display: -webkit-box;display: -webkit-flex;-webkit-align-self: center;align-self: center;isplay: flex;-webkit-box-lines: single;-moz-box-lines: single;-webkit-flex-wrap: nowrap;flex-wrap: nowrap;margin-left: 25%;}

/*收听动态*/
.anwser-list{border-bottom: 1px solid #D6D7DC;padding: .8rem 0 .5rem;}
.anwser-list .user-info{margin:0 .5rem;}
.anwser-list .user-photo{width: 2.5rem !important;height: 2.5rem;-webkit-border-radius: 50%;border-radius: 50%;float: left;}
.anwser-list .ques-info{padding: .5rem;}
.anwser-list .ques-name{font-size:16px;line-height: 1.2;font-weight: 400;margin-left: 3rem;}
.anwser-list .listen-status{margin-top: .5rem;}
.anwser-list .listen-status-dhd{display: inline-block;width: 4.5rem;height: 2rem;background-image: url(../imgs/icon-status-dhd.png);background-size: cover;vertical-align: top;margin-left: 3rem;}
.anwser-list .ques-status{height: 2.5rem;}
.anwser-list .ques-times,.anwser-list .ques-info .ques-listen-nums{font-size: 12px;color: #909090;line-height: 2.5rem;}
.anwser-list .ques-listen-nums{margin-left: .5rem;}
.anwser-list .listen-box{width: 8rem;height: 2.5rem;-webkit-border-radius: 1.25rem;background-color: #e64343;display: inline-block;margin-left: .5rem;position: relative;}
.anwser-list .listen-box .icon-listen{width: 1.2rem;height: 1.2rem;display: inline-block;background-image: url(../imgs/icon-listen.png);background-size: contain;background-repeat: no-repeat;position: absolute;top: .6rem;left: .6rem;}
.anwser-list .listen-box .listen-times{position: absolute;right: .6rem;color: #fff;font-style: normal;font-size: 14px;line-height: 2.5rem;}
/*收听的人*/
#listen-user .listen-user-list{padding: .5rem 0;}
#listen-user .listen-user-list+.listen-user-list{border-top: 1px solid #D6D7DC;}
#listen-user .listen-user-list .listen-user-img{display: table-cell;vertical-align: middle;text-align: center;padding:.5rem .5rem 1rem;}
#listen-user .listen-user-list .user-photo{width: 2.5rem;height: 2.5rem;-webkit-border-radius: 50%;border-radius: 50%;vertical-align: middle;}
#listen-user .listen-user-list .listen-user-info{display: table-cell;padding-right: .5rem;vertical-align: middle;}
#listen-user .listen-user-list .listen-user-info .user-name{font-size: 16px}
#listen-user .listen-user-list .listen-user-info .user-tips{font-size: 12px;color: #909090;}
#listen-user .listen-user-no{padding-top: 2rem;padding-bottom: 2rem;color: #909090;text-align: center;}
#listen-user .listen-user-no-fly{width:50%}
#user-question .user-question-no{padding-top: 2rem;padding-bottom: 2rem;color: #909090;text-align: center;}
#user-question .listen-user-no-fly{width:50%}
#user-anwser .user-question-no{padding-top: 2rem;padding-bottom: 2rem;color: #909090;text-align: center;}
#user-anwser .listen-user-no-fly{width:50%}
/*问题详情*/
#question-detail .question-box .question-user{padding: .5rem;}
#question-detail .question-box .question-user-info{line-height: 2.5rem;}
#question-detail .question-box .user-photo{width: 2rem;height: 2rem;-webkit-border-radius: 50%;border-radius: 50%;vertical-align: middle;}
#question-detail .question-box .user-name{}
#question-detail .question-box .question-name{font-size: 16px;line-height: 1.2;padding: .25rem 0;}
#question-detail .anwser-yet-box{line-height: 2.5rem;}
#question-detail .anwser-yet-box .user-my-photo{width: 2.5rem;height: 2.5rem;-webkit-border-radius: 50%;border-radius: 50%;margin-left: .5rem;float: left;}
#question-detail .anwser-yet-box .listen-info{margin-right: 1rem;}
#question-detail .anwser-yet-box .listen-name{font-size:16px;line-height: 1.2;font-weight: 400;margin-left: 3rem;}
#question-detail .anwser-yet-box .listen-info .listen-status{margin-top: .5rem;}
#question-detail .anwser-yet-box .listen-info .listen-status-dhd{display: inline-block;width: 4.5rem;height: 2rem;background-image: url(../imgs/icon-status-dhd.png);background-size: cover;vertical-align: top;margin-left: 3rem;}
#question-detail .anwser-yet-box .listen-info .listen-times,#question-detail .anwser-yet-box .listen-info .listen-listen-nums{font-size: 12px;color: #909090;margin-left: .8rem;}
#question-detail .anwser-yet-box .anwser-box{width: 7rem;height: 2.5rem;-webkit-border-radius: 1.25rem;background-color: #e64343;display: inline-block;margin-left: .5rem;position: relative;}
#question-detail .anwser-yet-box .anwser-box .icon-listen{width: 1.5rem;height: 1.5rem;display: inline-block;background-image: url(../imgs/icon-listen.png);background-size: contain;background-repeat: no-repeat;position: absolute;top: .4rem;left: .8rem;}
#question-detail .anwser-yet-box .anwser-box .listen-times{position: absolute;right: .6rem;color: #fff;font-style: normal;font-size: 14px;}
#question-detail .anwser-yet-box .anwser-times{font-size: 12px;color: #909090;}
#question-detail .anwser-yet-box .listen-nums{font-size: 12px;margin-left: 5px;margin-right: 10px;color: #909090;}
#question-detail .anwser-box{border: 1px solid #D6D7DC;background-color: #fafafa;display: table-row;}
#question-detail .anwser-box .anwser-info{width: 95%;padding: .5rem;}
#question-detail .anwser-box .anwser-jiantou{text-align: center;display: table-cell;margin-left: 95%;vertical-align: middle;padding: .5rem;}
#question-detail .anwser-user-tips{padding: .5rem;font-weight: 400;}
#question-detail .anwser-user-other-anwser{border-top:1px solid #D6D7DC;}
#question-detail .anwser-user-other-list{padding: .5rem 0;}
#question-detail .anwser-no .listen-status-dhd{margin-left: 1rem;}
#question-detail .anwser-no .anwser-no-box{padding-top: 1rem;color: #d6d7dc;border-top: 1px solid #D6D7DC;margin-top: 1rem;}
/*回答问题页*/
#question-to-anwser .question-detail{padding: 1rem;}
#question-to-anwser .question-detail .user-photo{width: 3rem;height: 3rem;display: inline-block;-webkit-border-radius: 50%;border-radius: 50%;}
#question-to-anwser .question-detail .user-name{}
#question-to-anwser .question-detail .user-info{line-height: 1.4;}
#question-to-anwser .question-detail .ques-edit-box{padding: .3rem;width: 100%;min-height: 4rem;-webkit-border-radius: .2rem;border-radius: .2rem;background-color: #f2f4fa;border: 1px solid #d6d7dc;margin-top: .25rem;font-size: 14px;max-width: 100%;}
#question-to-anwser .question-detail .ques-submit .button{font-size: 16px;background-color: #e64343;height: 2rem;line-height: 2rem;}
#question-to-anwser .anwser-user-tips{font-weight: 400;padding-left: 1rem;border-bottom: 1px solid #D6D7DC;font-size: 16px;color: #909090;}
/*优化*/
@media only screen and (min-width: 100px) and (max-width: 320px) {
	.anwser-list .listen-box{width: 6rem !important;}
	#index3-anwser-user .user-info{font-size: 10px}
}